*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    width: 55px;
    height: 25px;
    cursor: pointer;
    background-color: #ddd;
    border: none;
}

input:hover {
    background-color: aqua;
}

.deletbutton:hover {
    background-color: red;
}

.editbutton:hover{
    background-color: greenyellow;
}

.savebutton:hover {
    background-color: darkseagreen;
}

.skzbi_div {
    display: flex;
    gap: 10px;
    
}